@import ../colors

.contactSection
    background-color: $lightGray
    color: black
    padding-bottom: 40px
    scroll-margin-top: 80px
    .contactSectionHeader
        h2
            color: $lightGreen
            margin-bottom: 16px
    .form
        display: flex
        flex-wrap: wrap
        gap: 8px
        margin-bottom: 28px
        .inputs
            width: 100%
            display: flex
            flex-wrap: wrap
            gap: 8px
        input,
        textarea
            font-family: 'Montserrat', sans-serif
            width: 100%
            background: transparent
            border: solid 1px $lightGreen
            font-size: 15px
            padding: 6px 14px
            box-sizing: border-box
            border-radius: 6px
            outline: none
            &:focus
                border-color: black
        input
            height: 2.8em
        textarea
            height: 10em
            padding-top: 10px
            resize: none
        button
            font-family: 'Montserrat', sans-serif
            background-color: transparent
            border: solid 1px $lightGreen
            padding: 11px 28px
            font-size: 12px
            font-weight: 500
            text-transform: uppercase
            border-radius: 18px
            color: $lightGreen
            cursor: pointer
            transition: all ease 0.3s
            &:hover
                background-color: $lightGreen
                color: white
    .personalContact
        display: flex
        flex-wrap: wrap
        gap: 20px
        .item
            width: 100%
            p
                font-size: 15px
                &.strong
                    font-weight: 600
                    margin-bottom: 4px

@media (min-width: 768px)
    .contactSection
        // background-color: $lightGray
        // color: black
        padding-bottom: 48px
        .contactSectionHeader
            h2
                // color: $lightGreen
                // margin-bottom: 16px
        .form
            // display: flex
            // flex-wrap: wrap
            // gap: 8px
            margin-bottom: 36px
            .inputs
                // width: 100%
                // display: flex
                // flex-wrap: wrap
                // gap: 8px
            input,
            textarea
                // font-family: 'Montserrat', sans-serif
                // width: 100%
                // background: transparent
                // border: solid 1px $lightGreen
                // font-size: 15px
                // padding: 6px 14px
                // box-sizing: border-box
                // border-radius: 10px
            input
                // height: 2.8em
            textarea
                // height: 10em
                // padding-top: 10px
            button
                // background-color: transparent
                // border: solid 1px $lightGreen
                // padding: 10px 24px
                // font-size: 12px
                // font-weight: 500
                // text-transform: uppercase
                // border-radius: 18px
                // color: $lightGreen
        .personalContact
            display: grid
            grid-template-columns: 1fr 1fr
            gap: 22px
            width: 100%
            .item
                p
                    // font-size: 15px
                    &.strong
                        // font-weight: 600
                        // margin-bottom: 4px

@media (min-width: 1024px)
    .contactSection
        // background-color: $lightGray
        // color: black
        // padding-bottom: 48px
        .contactSectionInner
            display: grid
            grid-template-columns: repeat(12, 1fr)
            .contactSectionHeader
                grid-column-start: 1 
                grid-column-end: 13
                h2
                    // color: $lightGreen
                    // margin-bottom: 16px
            .form
                grid-column-start: 1 
                grid-column-end: 6
                // display: flex
                // flex-wrap: wrap
                // gap: 8px
                margin-bottom: 0
                .inputs
                    // width: 100%
                    // display: flex
                    // flex-wrap: wrap
                    // gap: 8px
                input,
                textarea
                    // font-family: 'Montserrat', sans-serif
                    // width: 100%
                    // background: transparent
                    // border: solid 1px $lightGreen
                    // font-size: 15px
                    // padding: 6px 14px
                    // box-sizing: border-box
                    // border-radius: 10px
                input
                    // height: 2.8em
                textarea
                    height: 8.4em
                    // padding-top: 10px
                button
                    // background-color: transparent
                    // border: solid 1px $lightGreen
                    // padding: 10px 24px
                    // font-size: 12px
                    // font-weight: 500
                    // text-transform: uppercase
                    // border-radius: 18px
                    // color: $lightGreen
            .personalContact
                grid-column-start: 6
                grid-column-end: 13
                // display: grid
                // grid-template-columns: 1fr 1fr
                column-gap: 28px
                row-gap: 28px
                align-content: start
                width: auto
                padding-left: 40px
                .item
                    p
                        font-size: 14px
                        &.strong
                            font-size: 16px
                            // margin-bottom: 4px
                            // font-weight: 600

@media (min-width: 1280px)
    .contactSection
        // background-color: $lightGray
        // color: black
        // padding-bottom: 48px
        .contactSectionInner
            // display: grid
            // grid-template-columns: repeat(12, 1fr)
            .contactSectionHeader
                // grid-column-start: 1 
                // grid-column-end: 13
                h2
                    // color: $lightGreen
                    // margin-bottom: 16px
            .form
                // grid-column-start: 1 
                // grid-column-end: 6
                // display: flex
                // flex-wrap: wrap
                // gap: 8px
                // margin-bottom: 0
                .inputs
                    // width: 100%
                    // display: flex
                    // flex-wrap: wrap
                    // gap: 8px
                input,
                textarea
                    // font-family: 'Montserrat', sans-serif
                    // width: 100%
                    // background: transparent
                    // border: solid 1px $lightGreen
                    // font-size: 15px
                    // padding: 6px 14px
                    // box-sizing: border-box
                    // border-radius: 10px
                input
                    // height: 2.8em
                textarea
                    // height: 8.4em
                    // padding-top: 10px
                button
                    // background-color: transparent
                    // border: solid 1px $lightGreen
                    // padding: 10px 24px
                    // font-size: 12px
                    // font-weight: 500
                    // text-transform: uppercase
                    // border-radius: 18px
                    // color: $lightGreen
            .personalContact
                grid-column-start: 7
                // grid-column-end: 13
                // display: grid
                // grid-template-columns: 1fr 1fr
                // column-gap: 28px
                // row-gap: 28px
                // align-content: start
                // width: auto
                padding-left: 0px
                .item
                    p
                        // font-size: 14px
                        &.strong
                            // font-size: 16px
                            // margin-bottom: 4px
                            // font-weight: 600

@media (min-width: 1440px)
    .contactSection
        // background-color: $lightGray
        // color: black
        // padding-bottom: 48px
        .contactSectionInner
            // display: grid
            // grid-template-columns: repeat(12, 1fr)
            .contactSectionHeader
                // grid-column-start: 1 
                // grid-column-end: 13
                h2
                    // color: $lightGreen
                    // margin-bottom: 16px
            .form
                // grid-column-start: 1 
                // grid-column-end: 6
                // display: flex
                // flex-wrap: wrap
                // gap: 8px
                // margin-bottom: 0
                .inputs
                    // width: 100%
                    // display: flex
                    // flex-wrap: wrap
                    // gap: 8px
                input,
                textarea
                    // font-family: 'Montserrat', sans-serif
                    // width: 100%
                    // background: transparent
                    // border: solid 1px $lightGreen
                    // font-size: 15px
                    // padding: 6px 14px
                    // box-sizing: border-box
                    // border-radius: 10px
                input
                    // height: 2.8em
                textarea
                    // height: 8.4em
                    // padding-top: 10px
                button
                    // background-color: transparent
                    // border: solid 1px $lightGreen
                    // padding: 10px 24px
                    // font-size: 12px
                    // font-weight: 500
                    // text-transform: uppercase
                    // border-radius: 18px
                    // color: $lightGreen
            .personalContact
                grid-column-start: 7
                // grid-column-end: 13
                // display: grid
                // grid-template-columns: 1fr 1fr
                // column-gap: 28px
                // row-gap: 28px
                // align-content: start
                // width: auto
                padding-left: 0px
                .item
                    p
                        // font-size: 14px
                        &.strong
                            // font-size: 16px
                            // margin-bottom: 4px
                            // font-weight: 600